/* Universal code */
*{
    margin: 0px;
    padding: 0px;
}

.bg1{
    background-color: #FBF8CC;
}
.bg2{
    background-color: #8BDB81;
}
.c1{
    color: #CA6702;
}

/* Styling for navbar */
.safetybar{
    background-color: #8BDB81;
    height: 20px;
    text-align: center;
    color: white;
}
.navbar{
    background-color: #FBF8CC;
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    height: 50px;
}
.navbarelement{
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    text-align: center;
    width: 100px;
}


#navele1{
    color: black;
    width: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
/* CSS for Grid box of Crops */
#cropdetails , #plantdetails{
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 10px 10px 30px ;
    grid-gap:20px;
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

.crop-items , .plant-items{
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    /* border: 1px solid white; */
    padding: 5px;
}

.crop-items:hover , .plant-items:hover{
    background-color: white;
    color: black;
}
/* 
#navele6{
    height: 30px;
    display: flex;
    width: 230px;
    align-items: center;
    background-color: white;
    justify-content: space-between;  
}
input{
    height: 20px;
} */
#checkvisi{
    width: 20px;
    height: 20px;
}
#login{
    height: 30px;
    width: 150px;
    background-color: #8BDB81;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    transition: 1s all;
    color: white;
}

#login:hover{
    background-color: #9af08f;
}

/* Login box */
.head_log{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}
.loginbox{
    display: none;
    border-radius: 40px;
background: #FBF8CC;
/* box-shadow:  20px 20px 60px #d5d3ad,
             -20px -20px 60px #ffffeb; */
    position: fixed;
    width: 360px;
    height: 400px;
    padding: 20px;
    /* border: 1px solid black; */
    top: 100px;
    left: 440px;
}

.log4{
    text-align: center;
    font-size: 20px;
}
.signup{
    font-size: 30px;
    color: #CA6702;
    background-color: transparent;
    border: none;
    transition: 1s all;
}
.signup:hover{
    transform: scale(1.2);
}
label{
    display: inline-block;
    width: 100px;
    font-size: 20px;
}
input{
    width: 180px;
    border: none;
    height: 30px;
    padding-left: 9px;
    border-radius: 30px;
}

#cross{
    color: gray;
    font-size: 30px;
    background-color: transparent;
    border: none;
    float: right;
}

#cross:hover{
    color: #CA6702;
}

#loginkey{
    height: 40px;
    border: none;
    background-color: #8BDB81;
    color: white;
    border-radius: 20px;
    margin: 5px 0px 20px 80px;
    font-size: 25px;
}

#loginkey:hover{
    background-color: #9af08f;
}


/* image board */
#imageboard{
    width: 100%;
    height: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: white;
    background-image: url(./image/img1.jpg);
    animation-name: changing;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-size: 100% 500px;
    padding: 40px;
    background-repeat: no-repeat;
}


@keyframes changing {
    50%{
        background-image: url(./image/img2.jpg);
    }

    75%{
        background-image: url(./image/img3.jpg);
    }
    100%{
        background-image: url(./image/img1.jpg);
    }
    
}

/* weather details */

#weatherdetails{
    color: #CA6702;
    width: 1150px;
    margin: 0px auto;
    height: 400px;
    border-radius: 10px;
background: #FBF8CC;
box-shadow:  -20px -20px 60px #d5d3ad,
             20px 20px 60px #ffffeb;
    background-size: 1200px 400px;
    background-repeat: no-repeat;
 
    /* background-image: url(./image/cloudy.jpg); */
    /* border: 1px solid gray; */
    padding: 10px;
}
#currentforecast{
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
h1{
    margin-left: 20px;
}
.c-fore{
    border-radius: 20px;
    width: 350px;
    height: 180px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 900;
    
    background-color: rgba(255, 255, 255, 0.541);
    padding: 20px;
    border: 1px solid white;
}

#futurepodcast{
    margin: 20px;
    display: flex;
    
    justify-content: space-around;
    padding: 10px;
}
.futurepod{
    width: 100px;
    font-size: 20px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.548);
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    height: 100px;
    border: 1px solid lightgray;
}

